<div>
	<h1>
		<span class="text-5xl"> All the Best</span>
		<br />for your G.C.E. (A/L) Exams!
	</h1>

	<p>
		You have worked hard for this moment. Believe in yourself and stay calm.
	</p>

	<p>
		Do your best and success will follow. Every step you take brings you closer
		to your dream. Be confident. You can do it!
	</p>
</div>

<style>
	h1 {
		@apply text-balance max-w-[25ch];
	}
	p {
		@apply max-w-prose text-lg text-pretty;
	}
</style>
