---
interface Props {
	name: "whatsapp" | "viber" | "linkedin" | "telegram" | "facebook";
}
const { name } = Astro.props;

let hrefLink = `/s/${name}`;
---

<a href={hrefLink}>
	<i class={`fa-brands fa-${name}`}></i>
</a>

<style>
	i {
		font-size: 1.1em;
		color: hsl(0, 0%, 100%, 40%);
		margin-right: 12px;
		transition: color 0.2s ease-in-out;
	}
	i:hover {
		color: hsl(0, 0%, 100%, 100%);
	}
	.dark i {
		color: hsl(0, 0%, 10%);
	}
	.dark i:hover {
		color: hsl(0, 0%, 40%);
	}
</style>
