---
import { useTranslations, getLangFromUrl } from "../i18n/utils";
import Button from "./Button.astro";

const t = useTranslations(getLangFromUrl(Astro.url));
---

<dialog id="success-dialog">
	<h2 class="mt-0 mb-2">Successfully registered!</h2>
	<p class="mt-0 mb-6 max-w-[48ch]">
		You have successfully registered for Mora Exams 2025. Please keep an eye on
		your email for further updates.
	</p>

	<div class="flex">
		<Button
			id="close"
			variant="outline"
			class="ml-auto py-2 px-4 w-fit rounded-md h-full text-md"
		>
			Close
		</Button>
	</div>
</dialog>

<script>
	const dialog = document.querySelector<HTMLDialogElement>(
		"dialog#success-dialog",
	);

	dialog.querySelector("#close").addEventListener("click", () => {
		dialog.close();
	});
</script>

<style>
	dialog {
		@apply bg-purple-50 border-purple-800 p-4 rounded-lg shadow-xl backdrop:bg-gray-900/40 backdrop-blur-xl min-w-[min(560px,96vw)];

		label {
			@apply text-sm;
		}
		span {
			@apply block font-medium;
		}
	}
</style>
