---
import { useTranslations, getLangFromUrl } from "../i18n/utils";
const t = useTranslations(getLangFromUrl(Astro.url));
---

<div>
	<h2 class="mt-0">
		{t("student_register__instructions_title")}
	</h2>

	<ul class="list-none pl-0">
		<li
			class="text-red-600 !bg-red-100 !border-red-700"
			style="padding: 15px; ; margin-bottom: 10px;"
			set:html={t("student_register__instruction_1")}
		/>

		<li style="padding: 15px; margin-bottom: 10px;">
			<ul
				class="flex flex-col pl-2 gap-2"
				set:html={t("student_register__instruction_2")
					.split("<br>")
					.map(
						(i) =>
							`<li class="contents"><span class="max-w-[65ch] text-pretty">${i}</span></li>`,
					)
					.join("")}
			/>
		</li>

		<li style="padding: 15px; margin-bottom: 10px;">
			<h3 style="color: #490665; margin-top: 0;">
				{t("student_register__registration_fee_title")}
			</h3>
			<ul class="grid grid-cols-[auto_1fr] gap-x-8 pl-2 fee-list">
				<li class="contents">
					<span>
						{t("student_register__registration_fee_ict_only_label")}
					</span>
					<span class="font-bold"
						>{t("student_register__registration_fee_ict_only_amount")}</span
					>
				</li>
				<li class="contents">
					<span>
						{t("student_register__registration_fee_other_streams_label")}
					</span>
					<span class="font-bold"
						>{
							t("student_register__registration_fee_other_streams_amount")
						}</span
					>
				</li>
			</ul>
		</li>

		<li style="padding: 15px; margin-bottom: 10px;">
			<h3 style="color: #490665; margin-top: 0;">
				{t("student_register__registration_fee_bank_details_title")}
			</h3>
			<ul class="grid grid-cols-[auto_1fr] gap-x-8 gap-y-1.5 pl-0">
				<li class="contents">
					<label>{t("student_register__registration_fee_account_name")}</label>
					<span>K MATHUMILAN / T VIRUSAN</span>
				</li>
				<li class="contents">
					<label>{t("student_register__registration_fee_account_no")}</label>
					<span>030200370038814</span>
				</li>
				<li class="contents">
					<label>{t("student_register__registration_fee_bank_name")}</label>
					<span>People's Bank</span>
				</li>
				<li class="contents">
					<label>{t("student_register__registration_fee_bank_branch")}</label>
					<span>Jaffna</span>
				</li>
				<li class="contents">
					<label class="col-span-2 md:col-span-1"
						>{t("student_register__registration_fee_description_format")}</label
					>
					<span class="col-span-2 md:col-span-1">
						[NIC] - [FULL NAME]
						<span class="block"> (e.g., 200600012345 - John Doe)</span>
					</span>
				</li>
			</ul>
			<li style="padding: 15px; margin-bottom: 10px;">
				<h3 style="color: #490665; margin-top: 0;">
					{t("student_register__contact_details")}
				</h3>
				<ul class="grid grid-cols-[auto_1fr] gap-x-8 gap-y-1.5 pl-0">
					<li class="contents">
						<label>
							{t("student_register__contact_name_01")}
						</label>
						<span class="tabular-nums"> +94 70 589 1710</span>
					</li>
					<li class="contents">
						<label for="">
							{t("student_register__contact_name_02")}
						</label>
						<span class="tabular-nums"> +94 77 892 7391</span>
					</li>
				</ul>
			</li>
		</li>

		<label
			class="confirmation-banner no-select block transition-colors px-4 py-2 my-4 border-solid rounded-md border-[1px]"
			for="agree-checkbox"
		>
			<span>
				<input type="checkbox" id="agree-checkbox" class="mr-2" />
				<span>
					{t("student_register__understood_text")}
				</span>
			</span>

			<p class="my-2">
				{t("student_register__cant_proceed_text")}
			</p>
		</label>

		<script>
			function disableRegistrationForm() {
				const form = document.getElementById("registration-form");
				if (!form) {
					return;
				}
				form.classList.add("pointer-events-none", "opacity-70");
				form.querySelectorAll("input, textarea, select").forEach((el) => {
					if (
						el instanceof HTMLInputElement ||
						el instanceof HTMLTextAreaElement ||
						el instanceof HTMLSelectElement
					) {
						el.disabled = true;
					}
				});
			}

			function enableRegistrationForm() {
				const form = document.getElementById("registration-form");
				if (!form) {
					return;
				}

				form.classList.remove("pointer-events-none", "opacity-70");
				form.querySelectorAll("input, textarea, select").forEach((el) => {
					if (
						el instanceof HTMLInputElement ||
						el instanceof HTMLTextAreaElement ||
						(el instanceof HTMLSelectElement && el.id !== "examCentre")
					) {
						el.disabled = false;
					}
				});
			}

			document.addEventListener("DOMContentLoaded", () => {
				const checkbox = document.getElementById(
					"agree-checkbox",
				) as HTMLInputElement;

				if (!checkbox) {
					console.error("Checkbox with ID 'agree-checkbox' not found.");
					return;
				}
				if (checkbox.checked) {
					enableRegistrationForm();
				} else {
					disableRegistrationForm();
				}

				checkbox.addEventListener("change", () => {
					if (checkbox.checked) {
						enableRegistrationForm();
					} else {
						disableRegistrationForm();
					}
				});
			});
		</script>
	</ul>

	<style>
		ul {
			li {
				@apply bg-[#efe6f5] border-l-4 border-0 border-[#6b21a8] border-solid;
			}
		}
		.confirmation-banner {
			@apply bg-red-50 border-red-500;
			p {
				@apply text-red-600;
			}
		}
		.confirmation-banner:has(input:checked) {
			@apply bg-green-50 border-green-500;

			p {
				@apply text-green-700;
			}
		}
		input,
		label {
			@apply cursor-pointer;
		}
	</style>
</div>
