---
import { useTranslations, getLangFromUrl } from "../i18n/utils";
import Button from "./Button.astro";

const t = useTranslations(getLangFromUrl(Astro.url));
---

<dialog id="confirmation-dialog">
	<h2 class="mt-0 mb-2">Confirmation</h2>
	<p class="mt-0 mb-4">Here is the summary of your registration details.</p>

	<div class="grid grid-cols-1 md:grid-cols-2 gap-x-6 gap-y-[0.6rem]">
		<div class="col-span-full">
			<label>{t("student_register__form_name")}</label>
			<span data-name="name"></span>
		</div>
		<div>
			<label>{t("student_register__form_nic_no")}</label>
			<span data-name="nic"></span>
		</div>
		<div>
			<label>{t("student_register__form_school")}</label>
			<span data-name="school"></span>
		</div>
		<div class="col-span-full">
			<label>{t("student_register__form_permanent_address")}</label>
			<span data-name="address"></span>
		</div>
		<div>
			<label>{t("student_register__form_email")}</label>
			<span data-name="email"></span>
		</div>
		<div>
			<label>{t("student_register__form_medium")}</label>
			<span data-name="medium"></span>
		</div>
		<div>
			<label>{t("student_register__form_stream")}</label>
			<span data-name="stream"></span>
		</div>
		<div>
			<label>{t("student_register__form_district_ranking")}</label>
			<span data-name="district_ranking"></span>
		</div>
		<div>
			<label>{t("student_register__form_district_sitting")}</label>
			<span data-name="district_exam"></span>
		</div>
		<div>
			<label>{t("student_register__form_exam_centre")}</label>
			<span data-name="exam_centre"></span>
		</div>
		<div class="col-start-1 md:col-start-2 flex justify-end gap-x-2 mt-4">
			<Button
				id="close"
				variant="outline"
				class="py-2 px-4 w-fit rounded-md h-full text-md"
			>
				Close
			</Button>
			<Button id="confirm" class="py-2 px-4 w-fit rounded-md !text-base">
				Confirm
			</Button>
		</div>
	</div>
</dialog>

<script>
	import { registerStudent } from "../services/studentRegistrationService";
	import {
		showFormResponse,
		validateRegistrationForm,
	} from "../utils/form-validators";

	function showSuccessDialog() {
		const successDialog = document.querySelector<HTMLDialogElement>(
			"dialog#success-dialog",
		);
		if (successDialog) {
			successDialog.showModal();
		}
	}

	const dialog = document.querySelector<HTMLDialogElement>(
		"dialog#confirmation-dialog",
	);

	dialog.querySelector("#confirm").addEventListener("click", async () => {
		const form = document.getElementById("registration-form");
		if (!(form instanceof HTMLFormElement)) return;

		showFormResponse("reset", "");
		if (!validateRegistrationForm(form)) {
			return;
		}
		const d = new FormData(form);

		const result = await registerStudent(d);

		if (typeof result === "string") {
			showFormResponse("error", result || "Something went wrong.");
			return;
		}
		form.reset();
		dialog.close();

		showSuccessDialog();
	});

	dialog.querySelector("#close").addEventListener("click", () => {
		dialog.close();
	});
</script>

<style>
	dialog {
		@apply bg-purple-50 border-purple-800 p-4 rounded-lg shadow-xl backdrop:bg-gray-900/40 backdrop-blur-xl min-w-[min(780px,96vw)];

		label {
			@apply text-sm;
		}
		span {
			@apply block font-medium;
		}
	}
</style>
